[Unit]
Description=Debian Installer RSS Feed Generator

[Timer]
Unit=debian-feed.service
OnBootSec=5m
OnUnitActiveSec=5m

[Install]
WantedBy=timers.target
