[Unit]
Description=Debian Installer RSS Feed Generator
After=network.target

[Service]
Type=oneshot
ExecStart=/bin/sh -c "exec $APP_ROOT/run.sh 2>&1"
